#appBar {
  @include custom-tag-default-values();
  @include navbar-sticky-top();
  background-color: white;
  box-shadow: $shadow-default;
  nav {
    @include flex-horizontal-between();
    @include container();
    margin: auto;
    .navbar-brand, 
    li > a {
      padding: $padding-small;
    }
    
    .navbar-brand {
      img {
        width: 10rem;
      }
    }
    
    ul {
      @include place-center(flex);
    }
  }
}