#appBar {
  @include styles-default-add-custom-tag();
  @include navbar-sticky-top();
  background-color: $theme-color-dark;
  box-shadow: $shadow-default;
  nav {
    @include flex-horizontal-between();
    @include container();
    padding: $padding-small;
    @include media('phone') {
      padding: 0 $padding-small;
    }
    .navbar-brand, 
    ul > li > a {
      padding: $padding-small;
    }
    
    .navbar-brand {
      img {
        width: 10rem;
      }
    }

    button {
      display: none;
      @include media('phone') {
        display: block;
      }
    }
    
    ul {
      @include place-center(flex);
      background-color: inherit;
      @include media('phone') {
        display: none;
      }
      // @include media('phone') {
      //   display: grid;
      //   gap: $gap-small;
      //   position: fixed;
      //   top: 0;
      //   right: 0;
      // }
      li {
        a {
          color: $theme-color-not-active;
        }
        a.active {
          @include link-active();
        }
      }
    }
  }
}