#appBar {
  @include styles-default-add-custom-tag();
  background-color: rgba($theme-color-dark, 0.5);
  transition: background-color $speed-normal;
  nav {
    @include place-horizontal-between(flex);
    @include container();

    padding: $padding-small;

    @include media('phone') {
      padding: $padding-small;
    }

    .navbar-brand {
      @include place-center(grid);
      img {
        width: 10rem;
      }
    }

    button {
      display: none;

      font-size: 2.8rem;
      color: white;
      @include media('phone') {
        display: block;
      }
    }

    ul {
      @include place-center(flex);

      @include media('phone') {
        display: none;
      }
      &.active {

        $height-app-bar: 70px;

        display: grid;
        gap: $gap-list-link;

        position: fixed;
        top: $height-app-bar;
        right: 0;

        box-shadow: $shadow-default;
        background-color: $theme-color-dark;

        border-top-left-radius: $border-radius-container;
        border-bottom-left-radius: $border-radius-container;
        li {
          a {
            width: 200px;
          }
        }
      }

      $hide-position: -300px;
      $show-position: 0;
      &.show-animation {
        @include animation($speed-normal, 1) {
          from { right: $hide-position }
          to { right: $show-position }
        }
      }
      &.hide-animation {
        @include animation($speed-normal, 1) {
          from { right: $show-position }
          to { right: $hide-position }
        }
      }

      li {
        @include place-center(grid);
        a {
          @include place-vertical-center(grid);
          height: $size-standard-button-link;

          color: $theme-color-active-not;
          
          padding: $padding-small $padding-medium;
          &.active {
            @include link-active();
          }
          &:hover, &:focus {
            color: $theme-color-primary;
            @include media('phone') {
              background-color: $theme-color-dark-hover;
            }
          }
        }
      }
    }
  }
}