#containerRestaurants {
  display: grid;
  @include grid-three-two-one();
  gap: $gap-card;
  article {
    $border-radius: calc(#{$border-radius-card-image} - 2px);

    box-shadow: $shadow-card;
    transition: $speed-fast;

    border-radius: $border-radius-card-image;
    img {
      display: block;

      width: 100%;
      height: 250px;

      object-fit: cover;

      border-top-left-radius: $border-radius-card-image;
      border-top-right-radius: $border-radius-card-image;
    }

    section {

      border-radius: $border-radius;
      background-color: rgba($theme-color-light, 0.8);
      transition: $speed-normal;

      header > {
        border-bottom: 1px solid gainsboro;
        div {
          padding: $padding-small $padding-large;
          h2, span {
            color: $theme-color-dark-text-title;
          }
    
          h2 {
            font-weight: 600;
          }

          .d-flex {
            gap: $gap-medium;
            align-items: center;
          }

          span[aria-label="rating"] {
            font-weight: bold;
            i {
              color: $theme-color-primary;
            }
          }

          button {
            @include place-center(flex);
            gap: 4px;
            padding: 0.6rem 0;
            font-size: .9rem;
            transition: $speed-fast;
            i {
              font-size: 1.4rem;
              &.bi-heart-fill {
                color: #fd79a8;
              }
            }
          }
        }
      }
      
      p {
        max-height: 200px;
        padding: $padding-large;

        color: $theme-color-dark-text-paragraf;

        line-height: 150%;
        overflow-y: scroll;
      }
    }
  }
}