#mainContents {
  @include container();
  display: grid;
  row-gap: $gap-medium;
  padding: $padding-container 0;
  h1 {
    text-align: center;
    background-color: $theme-color-light;
  }
}



@import '_mixins_content';
@import 'restaurants';
@import 'detail_restaurant';
