#mainContents {
  @include container();
  display: grid;
  row-gap: $gap-medium;
  padding: $padding-container 0;
  
  h1 {
    text-align: center;
  }
}



@import '_mixins_content';
@import 'restaurants';
@import 'detail_restaurant';
