#containerRestaurants, #containerFavoriteRestaurants {
  display: grid;
  @include grid-three-two-one();
  gap: $gap-card;
  article {
    $border-radius: calc(#{$border-radius-card-image} - 2px);
    @include article();
    img {
      @include img($height: 250px);
    }
    div.wrapper {
      @include wrapper($border-radius);
      header {
        display: grid;
        grid-template-rows: 40px;
        border-bottom: 1px solid gainsboro;
        padding: $padding-small $padding-large;
        h2, span {
          color: $theme-color-dark-text-title;
        }

        h2 {
          height: 100%;
          background-color: white
        }

        span[aria-label="rating"] {
          @include span-rating();
        }

        button.add-favorite,
        a.detail {
          @include place-center(flex);
          padding: 0.6rem 0;
          font-size: .9rem;
          gap: 4px;
          i {
            font-size: 1.4rem;
          }
        } 

        button.add-favorite {
          transition: $speed-fast;
          i {
            &.bi-heart-fill {
              color: #fd79a8;
            }
          }
        }
        
        a.detail {
          color: $theme-color-detail;
        }
      }
      
      p.restaurant-description {
        @include restaurant-description();
        padding: $padding-large;
        max-height: 200px;
        overflow-y: scroll;
      }
    }
  }
}