#author {
  ul {
    @include place-center(flex);
    gap: $gap-list-link;
    li {
      display: grid;
      a {
        @include place-center(grid);
        min-height: 44px;
        color: $theme-color-light;
        padding: 0.7rem;
        @include media('phone') {
          font-size: 10px;
        }
        &:hover {
          color: $theme-color-primary;
        }
      }
    }
  }
}